body {
    background-color: azure;
}

/*header*/
.logo {
    padding: auto;
    position: inherit;
    margin: 50px 50px;
}

/*index*/

.botones-principal{
    width: 250px;
    height: 250px;
    margin: 5% auto;
    display: block;
}

.boton{
    font-weight: bold;
    border-radius: 15px;
    padding: auto;
    transition: 0.2s all;
    cursor: pointer;    
}

.boton:hover{
    transform: scale(1.1);
}

#iniciar{
    width: 200px;
    height: 75px;    
    background-color:cadetblue;
    border-color: darkblue;
    margin: auto;
    color: white;
    
}

#nueva-palabra{
    width: 200px;
    height: 50px;
    margin: 20px auto 0;
    background-color: white;
}
 
/*ahorcado*/
.dibujo-ahorcado{
    width: 300px;
    margin: auto;
    height: auto;
    border-bottom: 5px solid darkblue;
    text-align: center;
}

canvas{
    width: 275px;
    height: 360px;
    vertical-align: bottom;
}
.contenedor-letras{
    width: 500px;
    margin: 25px auto;
    text-align: center;
}

.letras, .letras-erradas{
    width: 90%;
    margin: 0 5%;
}

.letras li{
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 40px;
    margin: 0 1.5%;
    padding:auto;
    box-sizing: border-box;
    border-bottom: 5px solid darkblue;
    text-transform: uppercase;
}

.letra{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkblue;
}

.letras-erradas li{
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #222222;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px auto;
    padding: auto;
}

.botones-regresar, .botones-palabra{
    width: 500px;
    height: 75px;
    margin: 25px auto;
    text-align: center;
}

#nuevo-juego, #guardar{
    width: 200px;
    height: 50px;    
    background-color:cadetblue;
    border-color: darkblue;
    margin: auto 0 0 5%;
    color: white;
    display: inline-block;
}

#desistir, #cancelar{
    width: 200px;
    height: 50px;
    margin: auto 5% 0 5%;
    background-color: white;
    display: inline-block;
}

/*nueva-palabra*/
.ingresar-palabra{
    width: 500px;
    height: 300px;
    margin: auto;
}

.cajaTex{
    width: 90%;
    height: 90%;
    margin: 5%;
    font-size: 20px;
    padding: 2.5%;
    background-color: azure;
    border: none;
    color: darkblue;
    outline: none;
}


/*footer*/
footer{
    text-align: center;
}

footer p{
    padding: 25px;
}